@keyframes blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  .stypingindicator {
    display: flex;
    align-items: center;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #333;
    border-radius: 50%;
    animation: blink 1.4s infinite;
  }
  
  .dot:nth-child(1) {
    animation-delay: 0s;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  