@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

canvas.react-pdf__Page__canvas {
  margin-bottom: 50px;
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  background-color: #eee;
  height: 100vh;
  font-family: "Inter", sans-serif;
}
h1 {
  font-size: 1.5rem !important;
}
p {
  font-size: 0.85rem;
}
.MuiDataGrid-root {
  border: none !important;
}
.MuiDataGrid-columnHeader {
  background-color: #f2f5f8 !important;
  border: none !important;
}
.MuiDataGrid-columnHeader {
  height: 36px !important;
  min-height: 36px !important;
}
.MuiDataGrid-virtualScrollerRenderZone
  .MuiDataGrid-row:nth-child(1)
  .MuiDataGrid-cell {
  border: none;
}
.MuiDataGrid-cell {
  align-items: center;
  display: flex;
  color: #666;
  border-color: #ebebeb !important;
}
.MuiDataGrid-cell[title="Scheduled"] {
  background-color: #dbedff;
  color: #004594;
}
.MuiDataGrid-cell[title="On Time"] {
  background-color: #d9f7be;
  color: #0a5c1f;
}
.MuiDataGrid-cell[title="Delayed"] {
  background-color: #fff6d1;
  color: #724a03;
}
/* .MuiDataGrid-row--lastVisible {
  opacity: 1 !important;
  height: 32px !important;
  width: 100% !important;
} */
/* Card code starts */
.card-actions .text-lg {
  line-height: 1.8;
}
.card .chat {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.card .chat-container {
  max-height: calc(85vh - 112px);
  overflow-y: auto;
  scrollbar-color: #aaa #f9f9f9;
}
/* Card code ends */

/* Chat code starts */
.chat-close {
  z-index: 1;
  cursor: pointer;
}
.chat-outer {
  width: 375px;
  height: 85vh;
}
.chat-end .chat-bubble,
.chat-start .chat-bubble {
  border-radius: 8px;
  font-size: 13px;
  line-height: 18px;
  max-width: 68%;
}
.chat-end,
.chat-start {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.chat-start {
  justify-content: flex-start;
}
.chat-start time {
  order: 3;
}
.chat-start .chat-bubble {
  background-color: #eee;
}
.chat-end time,
.chat-start time {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.chat-end:hover time,
.chat-start:hover time {
  visibility: visible;
  opacity: 0.5;
}
.chat-end .chat-bubble {
  background-color: #3e5eff;
  color: #fff;
}
.chat-end .chat-image {
  display: none;
}
.chat-end .chat-bubble::before,
.chat-start .chat-bubble::before {
  display: none;
}
.avatar.chat-image .rounded-box {
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
.card .chat-input-outer {
  align-items: center;
}
.card .chat-input {
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}
/* Chat code ends */
